@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;600&family=Tajawal:wght@200&display=swap');
*{
  font-family: 'Cairo' !important; 
  /* font-family: 'Tajawal', sans-serif; */
}
.App {
  text-align: center;
}


.a{
  display:flex;
  align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;

}


.active{
  text-decoration:line-through;
  color: brown;
}

